<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2>Login</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <body ng-app="myApp">
        <div class="ion-padding" id="loginDiv">
            <div class="imageDiv">
                <img src="\assets\icon\school-kids.jpg" alt="school kids">
            </div>
            <br>
                        
            <form (submit)="loginUser($event)">
              <ion-list ng-app="myApp" ng-controller="passwordControl">
                  <br>
                <ion-input type="email" id="email" class="inputBox" placeholder="Votre Email" #email></ion-input>
                <br>
                <ion-input type="password" id="password" class="inputBox" placeholder="Votre Mot de Passe" #password>
                </ion-input>
                <br>
                <input type="submit" class="dateBtn" value="Submit">
              </ion-list>
            </form>

          </div>
    </body>
</ion-content>